* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: green;
}

/*===header===*/
.header-block {
    display: flex;
    justify-content: center;
   margin: 20px auto;
    position: absolute;
    width: 980px;
    height: 54px;
    background-color: beige;

}